body {
    min-height: 875vh;
    margin: auto;
    border: solid #ffe3ea;    
}

#top, #bottom, #left, #right {
    background: #ffe3ea;
    position: fixed;
}

#left, #right {
    top: 0; bottom: 0;
    width: 20px;
}

#left {left: 0; }
#right {right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 20px;
}

#top {top: 0; }
#bottom { bottom: 0; }


.logo-masthead {
    position: fixed;
    top: 7.39%;
    left: 3.62%;
    height: 4.65%;
    width: 2.24%
}

.design-better {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    font-size: 22px;
    top: 7.35%;
    left: 7.5%;
}

.by-inVision {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    font-size: 11px;
    top: 10.8%;
    left: 7.5%;
}

.nav-links {
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    /* line-height: 28px; */
    letter-spacing: -0.1px;
    padding-top: 4.19%;
    font-family: Helvetica, Arial, sans-serif
    
}

.maturity {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    padding-left: 26.2%;
}

.books {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    padding-left: 41.65%;
}

.podcast {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    padding-left: 49.62%;
}

.workshops {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    padding-left: 58.5%;
}

.conversations {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    padding-left: 68.6%;
}

.in-logo {
    position: fixed;
    top: 7.7%;
    right: 3.72%;
    height: 4.5%;
    width: 2.1%
    
}

.subscribe-button {
    height: 5.5%;
    width: 7.6%;
    position: fixed;
    background-color: #ff0063;
    display: inline-flex;
    font-size: 8.5px;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 40px;
    color: white;
    margin: auto;
    top: 7.1%;
    right: 8.8%;
}

.subscribe-text {
    margin: 11px 23px;
    font-size: 12px;
    display: inline-flex;
    text-align: center;
}

.main-container {
    position: absolute;
    width: 94.5%;
    height: 84.9%;
    background-color: #ffe3ea;
    top: 23.6%;
    right: 0;
    z-index: -1;
}